<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tạo mới bài hát</title>
</head>
<body>
<div>
    <a th:href="@{/song/home}">Trang chủ</a>
</div>
<form th:action="@{/song/save}" th:object="${musicForm}" method="post" novalidate="novalidate" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <div>
        Tên bài hát : <input type="text" th:field="*{name}" placeholder="Tên bài hát">
    </div>
    <div>
        Thể loại: <input type="text" th:field="*{category}" placeholder="Thể loại bài hát">
    </div>
    <div>
        Đường dẫn : <input type="file" th:field="*{link}" placeholder="Đường dẫn">
    </div>
    <button>Lưu lại</button>
</form>
<p th:text="${message}"></p>
</body>
</html>