<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="@{/song/home}">Home</a>
</div>
<form th:action="@{/song/save}" th:object="${musicForm}" method="post" novalidate="novalidate" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <div>
        Name : <input type="text" th:field="*{name}" placeholder="name music">
    </div>
    <div>
        Category : <input type="text" th:field="*{category}" placeholder="name music">
    </div>
    <div>
        Link : <input type="file" th:field="*{link}" placeholder="name music">
    </div>
    <button>Save</button>
</form>
<p th:text="${message}"></p>
</body>
</html>